.appContent {
  width: 100%;
  height: 100vh;
  background-color: $orange-terciary;
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-top: 100px;
}

.btn-content {
  width: 35%;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
