.traslation-description {
width: 50%;
}

.select-text h4,
.traslation-description h4 {
  text-transform: uppercase;
  text-align: center;
}

.traslation-description {
  overflow-y: scroll;
  height: 809px;
  border: 2px solid $grey-secondary;
}

.traslation-main {
  width: 94%;
  margin: 0 auto;
  margin-top: 91.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-traductor {
  width: 50%;
  overflow-y: scroll;
  height: 809px;
  border: 2px solid $grey-secondary;
}

/* Botones texto */

.select-text input[type="radio"] {
  display: none;
}

.traduction-label {
  width: 100%;
  padding: 0 25px 0 25px;
  white-space: nowrap;
  padding-left: 20px;
  line-height: 50px;
  text-align: $align-left;
  font-size: $Text-xsmall;
  display: inline-block;
  cursor: pointer;
  color: $grey-primary;
}

.text-traductor li {
  list-style-type: none;
  &:nth-child(odd){
    background-color: $bg-grey;
  }
}

.text-traductor ul {
  padding-left: 0;
}

.traduction-label:hover {
  color: $purple-primary;
  background-color: $purple-terciary;
}

.traduction-label:active {
  border-left: 5px solid $purple-primary;
}

.text-traductor input[type="radio"]:checked + label {
  color: $purple-primary;
  background-color: $color-ligth;
  border-left: $border-xlarge $purple-primary;
}

.spanish-text {
  width: 100%;
  background-color: $bg-grey;
  padding:80px 30px 37px 30px;
}

.english-text {
  margin-top: 0;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.english-text::before {
  content:"";
  width: 0;
  height: 0;
  border-top: 24px solid $bg-grey;
  border-right: 35px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 35px solid transparent;
  margin: 0 auto;
}
