.traslation-description {
width: 50%;
}
.select-text h4{
  text-transform: uppercase;
  margin-left: 10px;

}
.traslation-description h4{
  text-transform: uppercase;
}
.traslation-description{
  overflow-y: scroll;
  height: 809px;
  border: 2px solid $grey-secondary;
  padding: 15px;
}
.select-text:nth-child(even){
  background-color: $bg-grey;
}

.traslation-main {
  width: 94%;
  margin: 0 auto;
  margin-top: 91.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text-traductor {
  width: 50%;
  overflow-y: scroll;
  height: 809px;
  border: 2px solid $grey-secondary;
}

/* Botones texto */

.select-text input[type="radio"] {
  display: none;
}

.traduction-label {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  text-align: $align-left;
  font-size: $Text-xsmall;
  display: inline-block;
  cursor: pointer;
  color: $grey-primary;
  background-color: $bg-grey;
}

.traduction-label:hover {
  color: $pink-primary;
  background-color: $color-ligth;
  border-left: 5px solid $pink-primary;
}

.text-traductor input[type="radio"]:checked + label {
  color: $pink-primary;
  background-color: $color-ligth;
  border-left: $border-xlarge $pink-primary;
}

.spanish-text{
  background-color: $bg-grey;
  padding:80px 30px 37px 30px;
}
.spanish-text:after{
  width: 70px;
  height: 48px;
  border-top: 24px solid $bg-grey;
  border-right: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 24px solid transparent;
  margin-top: 0;
}
