.traslation-description {
width: 50%;
}

.traslation-main {
  width: 94%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text-traductor {
  width: 50%;
  overflow: visible;
}

/* Botones texto */

.select-text input[type="radio"] {
  display: none;
}

.select-text label {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  text-align: $align-left;
  font-size: $Text-xsmall;
  display: inline-block;
  cursor: pointer;
  color: $grey-primary;
  background-color: $bg-grey;
}

.text-traductor label:hover {
  color: $purple-primary;
  background-color: $purple-terciary;
}

.text-traductor input[type="radio"]:checked + label {
  color: $purple-primary;
  background-color: $color-ligth;
  border-left: $border-xlarge $purple-primary;
}
