.modal-btn-cancel{
 width: 162px;
 height: 40px;
 background-color: #ffffff;
 border: solid 1px #4d4d4f;
 border: solid 1px $grey-primary;
}
.modal-btn-accept{
  width: 162px;
  height: 40px;
  background-color: #ffffff;
  border: solid 1px #4d4d4f;
  border: solid 1px $grey-primary;
}
