/* Buttons */

@mixin button-options {
  width: 200px;
  height: 50px;
  padding-left: 20px;
  text-align: $text-left;
  border-width: 0;
  font-size: $Text-xsmall;
}

@mixin button-off {
  width: 200px;
  height: 40px;
  padding: 0;
  border-width: 0;
  font-size: $Text-xsmall;
  background-image: url(../images/power-off.png);
  background-repeat: no-repeat;
  background-position: center;
}

@mixin button-img {
  width: 200px;
  height: 40px;
}

.btn-off{
  @include button-off;
  background-color: $grey-secondary;
  text-align: $text-center;
}

.btn-off:hover{
  @include button-off;
  background-color: $bg-grey;
  text-align: $text-center;
}

.btn-select-gestion {
  width: 200px;
  height: 50px;
  background-color: #f2f2f2;
}

.btn-select-gestion:hover {
  width: 200px;
  height: 50px;
  background-color: #f2f2f2;
}

.btn-select-gestion:active{
  width: 200px;
  height: 50px;
  background-color: #f2f2f2;
}

.btn-select-product {
  @include button-options;
  color: $grey-primary;
  background-color: $bg-grey;
}

.btn-select-product:hover {
  @include button-options;
  color: $pink-primary;
  background-color: $color-ligth;
}

.btn-select-product:active {
  @include button-options;
  color: $pink-primary;
  background-color: $color-ligth;
  border-left: $border-left $pink-primary;
}

.btn-select-traduction {
  @include button-options;
  background-color: $color-ligth;
  border-left: $border-left $purple-primary;
}

.btn-product {
  @include button-img;
  color: $orange-primary;
  background-image: url(../images/user-orange.png);
  background-repeat: no-repeat;
  background-color: $color-ligth;
  background-position-x: 15px;
  background-position-y: 4px;
  border: $border $orange-primary;
}

.btn-user:hover {
  @include button-options;
  color: $orange-primary;
  background-color: $color-ligth;
  border: $border $orange-primary;
}

.btn-product:hover {
  @include button-img;
  background-color: $orange-terciary;
}

/* Botones Modal */

@mixin modal-btn-cancel {
  width: 162px;
  height: 40px;
  color: $grey-primary;
  border: solid 1px $grey-primary;
  font-size: $Text-normal;
  padding-bottom: 6px;
  padding-top: 6px;
  background-color: #ffffff;
  background-image: url(../images/cancel-icon-grey-m.png);
  background-repeat: no-repeat;
  background-position-x:17px;
  background-position-y: 9px;
  background-size: 22px;
  padding-left: 35px;
}

@mixin modal-btn-cancel-active {
  width: 162px;
  height: 40px;
  color: "";
  border: "";
  font-size: $Text-normal;
  padding-bottom: 6px;
  padding-top: 6px;
  background-color: #ffffff;
  background-image: "";
  background-repeat: no-repeat;
  background-position-x:17px;
  background-position-y: 9px;
}

@mixin modal-btn-accept-active {
  width: 162px;
  height: 40px;
  color: "";
  border: solid 1px "";
  font-size: $Text-normal;
  padding-bottom: 6px;
  padding-top: 6px;
  background-color: $color-ligth;
  background-image: "";
  background-repeat: no-repeat;
  background-position-x: 17px;
  background-position-y: 9px;
}
@mixin modal-btn-accept {
  width: 162px;
  height: 40px;
  color: $grey-primary;
  border: solid 1px $grey-primary;
  font-size: $Text-normal;
  padding-bottom: 6px;
  padding-top: 6px;
  background-color: $color-ligth;
  background-image: url(../images/check-icon-grey-m.png);
  background-repeat: no-repeat;
  background-position-x: 17px;
  background-position-y: 9px;
  padding-left: 35px;
}


.modal-btn-cancel-client{
  @include modal-btn-cancel;
}

.modal-btn-cancel-client:hover{
  @include modal-btn-cancel-active;
  color: $orange-primary;
  border: solid 1px $orange-primary;
  background-image: url(../images/cancel-icon-orange-m.png);
}

.modal-btn-accept-client{
  @include modal-btn-accept;
}

.modal-btn-accept-client:hover{
  @include modal-btn-accept-active;
  color: $orange-primary;
  border: solid 1px $orange-primary;
  background-image: url(../images/check-icon-orange-m.png);
}
