/* Buttons */
button {
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

@mixin rectangle {
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  background-color: $color-ligth;
  font-size: $Text-normal;
}

@mixin button-off {
  width: 200px;
  height: 40px;
  font-size: $Text-xsmall;
  padding: 0;
  border-width: 0;
  background-image: url(../images/power-off.png);
  background-repeat: no-repeat;
  background-position: $align-center;
}

@mixin button-img {
  width: 200px;
  height: 40px;
  font-size: $Text-xsmall;
  background-repeat: no-repeat;
  background-color: $color-ligth;
  background-position-x: 10px;
  background-position-y: 4px;
}

@mixin button-action {
  width: 150px;
  height: 40px;
  font-size: $Text-xsmall;
  background-repeat: no-repeat;
  background-color: $color-ligth;
  background-position-x: 15px;
  background-position-y: 4px;
}

/* Botón Login */

.btn-login-purple {
  @include rectangle;
  text-align:$align-center;
  border: solid 2px $purple-primary;
  color: $purple-primary;
}

.btn-login-purple:hover {
  color: $color-ligth;
  background-color: $purple-primary;
}

// Botones de la Apps
@mixin btn-app {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-ligth;
}

.btn-productapp {
  @include btn-app;
  border: $border-xlarge $pink-primary;
  color: $pink-primary;
  &:hover {
    background-color: $pink-primary;
    color: $color-ligth;
  }
}

.btn-userapp {
  @include btn-app;
  border: $border-xlarge $orange-primary;
  color: $orange-primary;
  &:hover{
    color: $color-ligth;
    background-color: $orange-primary;
  }
}

.btn-traductorapp {
  @include btn-app;
  border: $border-xlarge $purple-primary;
  color: $purple-primary;
  &:hover {
    background-color: $purple-primary;
    color: $color-ligth;
  }
}

/* Botones power */

.btn-off {
  @include button-off;
  background-color: $grey-secondary;
  text-align: $align-center;
}

.btn-off:hover {
  background-color: $grey-primary;
  background-image: url(../images/power-off-white.png);
}

/* Botones Usuario */

.btn-user {
  @include button-img;
  color: $orange-primary;
  background-image: url(../images/user-orange.png);
  border: $border-normal $orange-primary;
}

.btn-user:hover {
  background-color: $orange-terciary;
}

/* Botones roles */

.btn-rol {
  @include button-img;
  color: $orange-primary;
  background-image: url(../images/rol-orange.png);
  border: $border-normal $orange-primary;
  background-size: 25px;
}

.btn-rol:hover {
  background-color: $orange-terciary;
}

/* Botones nuevo producto */

.btn-product {
  @include button-img;
  color: $pink-primary;
  background-image: url(../images/user-pink.png);
  border: $border-normal $pink-primary;
}

.btn-product:hover {
  background-color: $pink-terciary;
}

/* Botones Salir */

.btn-exit {
  @include button-action;
  color: $grey-primary;
  background-image: url(../images/exit.png);
  background-size: 30px;
  border: $border-normal $grey-primary;
}

.btn-exit:hover {
  background-color: $grey-secondary;
}

/* Botones Crear */
/* Pink */
.btn-create-pink {
  @include button-action;
  color: $pink-primary;
  background-image: url(../images/create-pink.png);
  border: $border-normal $pink-primary;
}

.btn-create-pink:hover {
  background-color: $orange-terciary;
}

/* orange */
.btn-create-orange {
  @include button-action;
  color: $orange-primary;
  background-image: url(../images/create-orange.png);
  border: $border-normal $orange-primary;
}

.btn-create-orange:hover {
  background-color: $orange-terciary;
}

/* Botón Guardar Purple */
.btn-save {
  @include button-action;
  color: $purple-primary;
  background-image: url(../images/save-purple.png);
  border: $border-normal $purple-primary;
}

.btn-save:hover {
  background-color: $purple-terciary;
}

/* Botones añadir imagen y Borrar imagen de crear Producto*/

.add-img-btn {
  @include button-action;
  border: $border-normal $pink-primary;
  color: $pink-primary;
  margin-top: 30px;
}

.add-img-btn:hover {
  background-color: $orange-terciary;
}

.erase-pic-btn {
  @include button-action;
  @include button-img;
  border: none;
  background-image: url(../images/circle-cancel.png);
  margin-top: 15px;
}

/* Botones Modal */

@mixin modal-btn-cancel {
  width: 162px;
  height: 40px;
  color: $grey-primary;
  border: $border-normal $grey-primary;
  font-size: $Text-normal;
  background-color: $color-ligth;
  transition: 0.3s;
}

@mixin modal-btn-cancel-active {
  width: 162px;
  height: 40px;
  color: "";
  border: "";
  font-size: $Text-normal;
  background-color: $color-ligth;
  transition: 0.3s;
}

@mixin modal-btn-accept-active {
  width: 162px;
  height: 40px;
  color: "";
  border: $border-normal "";
  font-size: $Text-normal;
  background-color: $color-ligth;
  transition: 0.3s;
}

@mixin modal-btn-accept {
  width: 162px;
  height: 40px;
  color: $grey-primary;
  border: $border-normal $grey-primary;
  font-size: $Text-normal;
  background-color: $color-ligth;
  transition: 0.3s;
}

// Modal buttons for client orange
.modal-btn-cancel-client {
  @include modal-btn-cancel;
}

.modal-btn-cancel-client:hover {
  @include modal-btn-cancel-active;
  color: $orange-primary;
  // background-image: url(../images/cancel-icon-orange-m.png);
  border: $border-normal $orange-primary;

}

.modal-btn-accept-client {
  @include modal-btn-accept;
}

.modal-btn-accept-client:hover {
  @include modal-btn-accept-active;
  color: $orange-primary;
  // background-image: url(../images/check-icon-orange-m.png);
  border: $border-normal $orange-primary;
}

// Modal buttons for product pink
.modal-btn-cancel-product {
  @include modal-btn-cancel
}

.modal-btn-cancel-product:hover {
  @include modal-btn-cancel-active;
  color: $pink-primary;
  border: $border-normal $pink-primary;
}

.modal-btn-accept-product {
  @include modal-btn-accept;
}

.modal-btn-accept-product:hover {
  @include modal-btn-accept-active;
  color: $pink-primary;
  // background-image: url(../images/check-icon-pink-m.png);
  border: $border-normal $pink-primary;
}
