/************************** Create Product Form*******************************/

.createProduct-form {
  max-width: 50%;
  margin: auto;
  margin-top: 60px;
}

.fieldset-product {
  border-style: none;
  padding: 0;
}

.product-legend {
  width: 100%;
  border-bottom: 1px solid $form-border-grey;
  color: $pink-primary;
}

.input-product {
  height: 2em;
  margin: 20px 0px;
}

.label {
  margin-top: 30px;
}

.input-name {
  margin-right: 30px;
}

.column {
  display: flex;
  flex-direction:column;
  width: 50%;
}

.row {
  display: flex;
  flex-direction: row;
}

.product-pic {
  height: 162px;
  margin: 0;
  margin-top: 30px;
}
/*****************************************************************************/
