.newuser-form {
  width: 50%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.fieldset-user {
  border-style: none;
  margin-top: 20px;
  padding: 0;
}

.legend-user {
  width: 100%;
  margin-bottom: 20px;
}

.newuser-legend {
  width: 100%;
  color: $orange-primary;
  border-bottom: $border-small $grey-secondary;
}

.newuser-datos {
  display: flex;
  flex-wrap: wrap
}

.newuser-containers-dats {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.newuser-box-dats {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 13px;
}

.newuser-active {
  display: flex;
  align-items: $align-center;
}

.newuser-active-ask {
  margin-top: 15px;
  margin-right: 56px;
}

.newuser-active input[type="radio"] {
  display: none;
}

.newuser-active label {
  width: 40px;
  height: 40px;
  color: $form-grey;
  border: $border-small $form-grey;
  line-height: 2.5;
  text-align: $align-center;
  cursor: pointer;
}

.newuser-active input[type="radio"]:checked + label {
  color: $orange-primary;
  border: $border-small $orange-primary;
}

.row-form {
  display: flex;
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
}

.column-form {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

.newuser-check {
  width: 50%;
  margin-bottom: 15px;
}

.custom-checkbox {
  display: none;
}

.custom-checkbox + label {
  position: relative;
  padding-left: 25px;
}

.custom-checkbox + label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: $border-small $form-grey;
  border-radius: 4px;
}

.custom-checkbox:checked + label:before {
 text-align: $align-center;
 line-height: 1;
 color: $color-ligth;
 content: "✔";
 border: $border-small $color-blue;
 background-color: $color-blue;
}

.custom-select {
  appearance: none;
  padding: 2.4px 0;
  padding-left: 5px;
  background: no-repeat;
  background-image: url("../images/arrow-down.png");
  background-size: 5%;
  background-position: 95%;
  border: $border-small $form-grey;
}

/************************** Create Product Form*******************************/


.product-type {
  justify-content: space-around;
}

.sr-only input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.product-type input[type="radio"] {
  outline: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px;
}

.product-type label {
  border-radius: 60px;
  width: 100px;
  height: 100px;
  cursor:pointer;
  background-size: auto;
  background-repeat:no-repeat;
}

.label-1 {
  background-image: url("../images/grapes.svg");
  background-position: 19px 20px;
  border: solid 1px #b82bb5;
}

.label-1:hover {
  background-color: #b82bb5;
  background-image: url("../images/grapes-white.svg");
  filter:brightness(1.1);
  transition: 250ms;
}

.input-product1[type="radio"]:checked + label {
  background-color: #b82bb5;
  background-image: url("../images/grapes-white.svg");
}

.label-2 {
  background-image: url("../images/apple.svg");
  background-position: 20px 20px;
  border: solid 1px #40ba40;
}

.label-2:hover {
  background-color: #40ba40;
  background-image: url("../images/apple-white.svg");
  filter:brightness(1.1);
  transition: 250ms;
}

.input-product2[type="radio"]:checked + label {
  background-color: #40ba40;
  background-image: url("../images/apple-white.svg");
}

.label-3 {
  background-image: url("../images/orange.svg");
  background-position: 18px 25px;
  transform: rotate(45deg);
  border: solid 1px #ff5000;
  transition: 250ms;
}

.label-3:hover {
  background-color: #ff5000;
  background-image: url("../images/orange-white.svg");
  filter:brightness(1.1);
}

.input-product3[type="radio"]:checked + label {
  background-color: #ff5000;
  background-image: url("../images/orange-white.svg");
}

.label-4 {
  background-image: url("../images/cherries.svg");
  background-position: 21px 20px;
  border: solid 1px #d60056;
  transition: 250ms;
}

.label-4:hover {
  background-color: #d60056;
  background-image: url("../images/cherries-white.svg");
  filter:brightness(1.1);
}

.input-product4[type="radio"]:checked + label {
  background-color: #d60056;
  background-image: url("../images/cherries-white.svg");
}


.createProduct-form {
  max-width: 50%;
  margin: auto;
  margin-top: 100px;
}

.fieldset-product {
  border-style: none;
  margin-top: 20px;
  padding: 0;
}

.product-legend {
  width: 100%;
  border-bottom: $border-small $form-border-grey;
  color: $pink-primary;
  margin-bottom: 20px;
}

.input-product {
  height: 2em;
  margin: 20px 0px;
}

.input-price {
  margin-left: 20px;
}

.label {
  margin-top: 30px;
}

.input-name {
  margin-right: 20px;
}

.p-column {
  display: flex;
  flex-direction:column;
  width: 50%;
}

.p-row {
  display: flex;
  flex-direction: row;
}

.product-pic {
  height: 162px;
  margin-right: 20px;
  margin-top: 30px;
}
