.newuser-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.fieldset-user {
  border-style: none;
  margin-top: 20px;
  padding: 0;
}

.legend-user {
  width: 100%;
  margin-bottom: 20px;
}

.newuser-legend {
  width: 100%;
  color: $orange-primary;
  border-bottom: $border-small $grey-secondary;
}

.newuser-datos {
  display: flex;
  flex-wrap: wrap
}

.newuser-containers-dats {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.newuser-box-dats {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 13px;
}

.newuser-active {
  display: flex;
  align-items: $align-center;
}

.newuser-active-ask {
  margin-top: 15px;
  margin-right: 56px;
}

.newuser-active input[type="radio"] {
  display: none;
}

.newuser-active label {
  width: 40px;
  height: 40px;
  color: $form-grey;
  border: $border-small $form-grey;
  line-height: 2.5;
  text-align: $align-center;
  cursor: pointer;
}

.newuser-active input[type="radio"]:checked + label {
  color: $orange-primary;
  border: $border-small $orange-primary;
}

.row-form {
  display: flex;
  margin-left: -$gutter / 2;
  margin-right: -$gutter / 2;
}

.column-form {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

.newuser-check {
  width: 50%;
  margin-bottom: 15px;
}

.custom-checkbox {
  display: none;
}

.custom-checkbox + label {
  position: relative;
  padding-left: 25px;
}

.custom-checkbox + label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: $border-small $form-grey;
  border-radius: 4px;
}

.custom-checkbox:checked + label:before {
 text-align: $align-center;
 line-height: 1;
 color: $color-ligth;
 content: "✔";
 border: $border-small $color-blue;
 background-color: $color-blue;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;

  padding: 2.4px 0;
  padding-left: 5px;
  background: no-repeat;
  background-image: url("../images/arrow-down.png");
  background-size: 5%;
  background-position: 95%;
  border: $border-small $form-grey;
}

/************************** Create Product Form*******************************/

.input-product[type="radio"] {
    display: none;
}

#grapes {
  height: 62px;
  width: 62px;
}

.createProduct-form {
  max-width: 50%;
  margin: auto;
  margin-top: 60px;
}

.fieldset-product {
  border-style: none;
  margin-top: 20px;
  padding: 0;
}

.product-legend {
  width: 100%;
  border-bottom: $border-small $form-border-grey;
  color: $pink-primary;
  margin-bottom: 20px;
}

.input-product {
  height: 2em;
  margin: 20px 0px;
}

.input-price {
  margin-left: 20px;
}

.label {
  margin-top: 30px;
}

.input-name {
  margin-right: 20px;
}

.p-column {
  display: flex;
  flex-direction:column;
  width: 50%;
}

.p-row {
  display: flex;
  flex-direction: row;
}

.product-pic {
  height: 162px;
  margin-right: 20px;
  margin-top: 30px;
}
