//IMAGES Elements Table

.edit img,
.trashUser img,
.trashRol img,
.trashProduct img,
.user img {
  width: 30px;
}

.trashUser img,
.trashRol img,
.trashProduct img {
  cursor: pointer;
}

//IMAGES Login
.img-login {
  margin-bottom: 55px;
  width: 120px;
  height: 120px;
  justify-content: center;
 }

//IMAGES apps
.icon-apps{
  width: 40px;
  height: 40px;
}

.img-app {
  width: 64px;
  height: 80px;
}

//IMAGES Logo Aside
@mixin logo-svg {
  width: 25px;
  fill: none;
  stroke-width: 2px;
}

.logo-pink {
  @include logo-svg;
  stroke: #d60056;
}

.logo-orange {
  @include logo-svg;
  stroke: #ff5000;
}

.logo-purple {
  @include logo-svg;
  stroke: #892d87;
}
