@mixin line {
  width: 100%;
  height: 2px;
    margin-left: 35px;
}

.line-orange {
@include line;
  background-color: $orange-primary;
}

.line-pink {
@include line;
  background-color: $pink-primary;
}

.line-purple {
  @include line;
  background-color: $purple-primary;
}
