@mixin column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin title {
  @include row;
  width: 200px;
  height: 50px;
  text-align: $align-left;
}

@mixin select-options {
  width: 200px;
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  text-align: $align-left;
  font-size: $Text-xsmall;
}

.sidebar {
  @include column;
  width: 200px;
  height: 100vh;
  position: fixed;
  background-color: $bg-grey;
}

.title-product {
  @include title;
  justify-content: space-around;
  align-items: center;
  color: $pink-primary;
  background-color: $pink-secondary;
}

.title-gestion {
  @include title;
  justify-content: space-around;
  align-items: center;
  color: $orange-primary;
  background-color: $orange-secondary;
}

.title-page {
  @include title;
  color: $purple-primary;
  align-items: center;
  background-color: $purple-secondary;
  justify-content: center;
}

.title-header-traductor {
  color: $purple-primary;

}

/* Botones producto */

.select-option input[type="radio"] {
  display: none;
}

.select-option label {
  @include select-options;
  display: inline-block;
  cursor: pointer;
  color: $grey-primary;
  background-color: $bg-grey;
}

.product label:hover {
  color: $pink-primary;
  background-color: $color-ligth;
}

.product input[type="radio"]:checked + label{
  color: $pink-primary;
  background-color: $color-ligth;
  border-left: $border-xlarge $pink-primary;
}

/* Botones Gestión */

.gestion label:hover {
  color: $orange-primary;
  background-color: $color-ligth;
}

.gestion input[type="radio"]:checked + label{
  color: $orange-primary;
  background-color: $color-ligth;
  border-left: $border-xlarge $orange-primary;
}

/* Botones traduccion */

.traductor {
  @include select-options;
  color: $purple-primary;
  background-color: $color-ligth;
  border-left: $border-xlarge $purple-primary;
}
