
@mixin row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin header {
  position: fixed;
  z-index: 2;
  width: 85%;
  padding: 10px 35px 10px 0;
  border-bottom: $border-bottom $pink-primary;
}

.newuser-header {
  position: relative;
  width: 100%;
  padding: 10px 0;
}

.newuser-header-title {
  text-align: center;
  width: 100%;
}

.newuser-header-buttons {
  position: absolute;
  top: 10px;
  right: 57px;
}

.btn-margin-header {
  margin-right: 20px;
}

.header-product {
  @include row;
  @include header;
  background-color: $color-ligth;
  border-bottom: $border-bottom $pink-primary;
}

.header-gestion {
  @include row;
  @include header;
  background-color: $color-ligth;
  border-bottom: $border-bottom $orange-primary;
}

.header-traduct {
  @include row;
  @include header;
  background-color: $color-ligth;
  border-bottom: $border-bottom $purple-primary;
}
