@mixin column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

.box-header {
  @include row;
  justify-content: space-between;
  padding: 10px 35px 10px 0;
  border-bottom: $border-bottom $pink-primary;
}

.newuser-header {
  position: relative;
  width: 100%;
  padding: 10px 0;
  background-image: linear-gradient(to left, $orange-primary 0, $orange-primary 0);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 40px bottom;
}

.newuser-header-title {
  text-align: center;
  width: 100%;
}

.newuser-header-buttons {
  position: absolute;
  top: 10px;
  right: 57px;
}

.btn-margin-header {
  margin-right: 20px;
}
