
@mixin row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin header {
  position: fixed;
  z-index: 2;
  width: 85%;
  padding: 10px 35px 10px 0;
  border-bottom: $border-bottom $pink-primary;
}

.newuser-header {
  position: relative;
  width: 100%;
  padding: 10px 0;
  background-image: linear-gradient(to left, $orange-primary 0, $orange-primary 0);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 40px bottom;
}

.newuser-header-title {
  text-align: center;
  width: 100%;
}

.newuser-header-buttons {
  position: absolute;
  top: 10px;
  right: 57px;
}

.btn-margin-header {
  margin-right: 20px;
}


//////////////////////////// createProduct-header//////////////////////////////

.createProduct-header {
  @include row;
  width: 100%;
  padding: 10px 0;
  border-bottom: $border-bottom $pink-primary;
}

.createProduct-heading {
  width: 800px;
  height: 40px;
  text-align: center;
  margin: auto;
}

.createProduct-header-buttons {
  width: 100%;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

///////////////////////////////////////////////////////////////////////////////

.header-product {
  @include row;
  @include header;
  background-color: $color-ligth;
  border-bottom: $border-bottom $pink-primary;
}

.header-gestion {
  @include row;
  @include header;
  background-color: $color-ligth;
  border-bottom: $border-bottom $orange-primary;
}

.header-traduct {
  @include row;
  @include header;
  background-color: $color-ligth;
  border-bottom: $border-bottom $purple-primary;
}
