/* Colours */

$orange-primary: #ff5000;
$orange-secondary: #ffc2a6;
$orange-terciary: #ffe5d9;
$green: #0c840c;
$purple-primary: #892d87;
$purple-secondary: #d4a5d3;
$purple-terciary: #f9e9f9;
$pink-primary: #d60056;
$pink-secondary: #f1a6c4;
$pink-terciary: #f9d9e6;
$grey-primary: #4d4d4f;
$grey-secondary: #d4d4d4;
$bg-grey: #f2f2f2;
$color-active: #0c840c;
$color-inactive: #eb0028;
$color-ligth: white;

/* Tipografia */

$font: 'roboto';

/* Font-size */

$Text-xlarge: 48px;
$Text-large: 28px;
$Text-medium: 24px;
$Text-normal: 20px;
$Text-small: 18px;
$Text-xsmall: 16px;

/* Text align  */

$text-center: center;
$text-left:left;
$text-right: right;

/* border */

$border-right: solid 2px;
$border-left: solid 2px;
$border-bottom: solid 1px;
$border: solid 1.5px;
