/* Colours */

$orange-primary: #ff5000;
$orange-secondary: #ffc2a6;
$orange-terciary: #ffe5d9;
$green: #0c840c;
$purple-primary: #892d87;
$purple-secondary: #d4a5d3;
$purple-terciary: #f9e9f9;
$pink-primary: #d60056;
$pink-secondary: #f1a6c4;
$pink-terciary: #f9d9e6;
$grey-primary: #4d4d4f;
$grey-secondary: #d4d4d4;
$bg-grey: #f2f2f2;
$form-grey: #a9a9a9;
$form-border-grey: #e4e4e4;
$color-active: #0c840c;
$color-inactive: #eb0028;
$color-ligth: white;
$color-blue: #1f8eff;

/* Tipografia */

$font: 'Roboto', sans-serif;
// Vinculo para el html de la familia de fuente
//<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

/* Font-size */

$Text-xlarge: 48px;
$Text-large: 28px;
$Text-medium: 24px;
$Text-normal: 20px;
$Text-small: 18px;
$Text-xsmall: 16px;

/* align  */

$align-center: center;
$align-left:left;
$align-right:right;

/* border */

$border-xlarge: solid 3px;
$border-large: solid 2px;
$border-normal: solid 1.5px;
$border-small: solid 1px;
$border-xsmall: solid 0.5px;

/* Form */

$gutter: 40px;
