body {
  font-size: $Text-xsmall;
  font-family: $font;
}

a {
  text-decoration: none;
  color:$grey-primary;
}

h1 {
  font-size: $Text-xlarge;
  margin: 10px;
}

h2 {
  font-size: $Text-large;
  margin: 10px;
  font-weight: 300;
}

h3 {
  font-size: $Text-medium;
}

h4 {
  font-size: $Text-normal;
  margin: 0;
  padding: 15px;
  font-weight: 300;
}

h5 {
  font-size: $Text-xsmall;
  font-weight: 400;

}
