body {
  font-size: $Text-xsmall;
  font-family: $font;
}

h1 {
  font-size: $Text-xlarge;
}

h2 {
  font-size: $Text-large;
  margin: 5px;
}

h3 {
  font-size: $Text-medium;
}

h4 {
  font-size: $Text-normal;
  margin: 0;
  padding: 15px;
}

h5 {
  font-size: $Text-xsmall;
}
