@charset "UTF-8";
/* Colours */
/* Tipografia */
/* Font-size */
/* align  */
/* border */
/* Form */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #4d4d4f; }

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none;
  color: #4d4d4f; }

legend {
  font-size: 24px; }

h1 {
  font-size: 48px;
  margin: 10px;
  font-weight: 300; }

h2 {
  font-size: 28px;
  margin: 10px;
  font-weight: 300; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px;
  margin: 0;
  padding: 15px 0;
  font-weight: 300; }

h5 {
  font-size: 16px;
  font-weight: 400;
  margin: 0; }

.text-button {
  font-size: 20px;
  font-weight: 300; }

/* header createProduct-createUser */
.newuser-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  padding: 10px 0;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 40px bottom;
  background-color: white;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #ff5000), color-stop(0, #ff5000));
  background-image: linear-gradient(to left, #ff5000 0, #ff5000 0); }

.createProduct-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  padding: 10px 0;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 40px bottom;
  background-color: white;
  background-color: white;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #d60056), color-stop(0, #d60056));
  background-image: linear-gradient(to left, #d60056 0, #d60056 0);
  z-index: 2; }

.traslation-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  padding: 10px 0;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: 40px bottom;
  background-color: white;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #892d87), color-stop(0, #892d87));
  background-image: linear-gradient(to left, #892d87 0, #892d87 0); }

.newuser-header-title,
.createProduct-heading {
  width: 800px;
  text-align: center;
  margin: auto; }

.newuser-header-buttons,
.createProduct-header-buttons {
  width: 100%;
  z-index: 3;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.btn-margin-header {
  margin-right: 20px; }

/* Header page Product-Gestion-Traductor */
.header-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
  width: 85%;
  padding: 5px 85px 5px 0;
  border-bottom: solid 2px #d60056;
  background-color: white;
  border-bottom: solid 2px #d60056; }

.header-gestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
  width: 85%;
  padding: 5px 85px 5px 0;
  border-bottom: solid 2px #d60056;
  background-color: white;
  border-bottom: solid 2px #ff5000; }

.header-traduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
  width: 85%;
  padding: 5px 85px 5px 0;
  border-bottom: solid 2px #d60056;
  background-color: white;
  border-bottom: solid 2px #892d87; }

.modal-svg {
  width: 22px;
  height: 22px; }

.modal-container {
  background: rgba(40, 40, 40, 0.53);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 3;
  top: 0;
  overflow: hidden; }

.showModal {
  display: inline;
  position: fixed;
  top: 0; }

.modal-div {
  width: 800px;
  height: 450px;
  border-radius: 15px;
  background-color: #ffffff;
  border: solid 1px #cdcdc9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  margin-bottom: 800px;
  margin-left: auto;
  margin-right: auto; }

.modal-title {
  width: 720px;
  height: 29px;
  font-size: 24px;
  line-height: 1.21;
  text-align: center;
  color: #4d4d4f;
  margin-top: 35px; }

.modal-secondary-title {
  width: 720px;
  height: 24px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33;
  text-align: center;
  color: #4d4d4f; }

.modal-tirth-title {
  width: 720px;
  height: 24px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #4d4d4f; }

.modal-buttons {
  width: 340px;
  margin-top: auto;
  margin-bottom: 55px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.icon-modal-circle-product {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #4d4d4f;
  background-color: white;
  background-image: url(../images/internetPurple.png);
  background-repeat: no-repeat;
  background-position: center; }

.modal-tirth-title-product {
  margin-top: 45px;
  width: 720px;
  height: 24px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #4d4d4f; }

.icon-modal-circle-user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #4d4d4f;
  background-color: white;
  background-image: url(../images/user-grey.png);
  background-repeat: no-repeat;
  background-position: center; }

.modal-tirth-title-user {
  margin-top: 45px;
  width: 720px;
  height: 24px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  color: #4d4d4f; }

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 200px;
  height: 100vh;
  position: fixed;
  background-color: #f2f2f2; }

.title-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d60056;
  background-color: #f1a6c4; }

.title-gestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ff5000;
  background-color: #ffc2a6; }

.title-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #892d87;
  background-color: #d4a5d3; }

/* Botones producto */
.select-option input[type="radio"] {
  display: none; }

.select-option label {
  width: 200px;
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  text-align: left;
  font-size: 16px;
  display: inline-block;
  cursor: pointer;
  color: #4d4d4f;
  background-color: #f2f2f2; }

.product label:hover {
  color: #d60056;
  background-color: white; }

.product input[type="radio"]:checked + label {
  color: #d60056;
  background-color: white;
  border-left: solid 3px #d60056; }

/* Botones Gestión */
.gestion label:hover {
  color: #ff5000;
  background-color: white; }

.gestion input[type="radio"]:checked + label {
  color: #ff5000;
  background-color: white;
  border-left: solid 3px #ff5000; }

/* Botones traduccion */
.traductor {
  width: 200px;
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  text-align: left;
  font-size: 16px;
  color: #892d87;
  background-color: white;
  border-left: solid 3px #892d87; }

.newuser-form {
  width: 50%;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto; }

.fieldset-user {
  border-style: none;
  margin-top: 20px;
  padding: 0; }

.legend-user {
  width: 100%;
  margin-bottom: 20px; }

.newuser-legend {
  width: 100%;
  color: #ff5000;
  border-bottom: solid 1px #d4d4d4; }

.newuser-datos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.newuser-containers-dats {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.newuser-box-dats {
  height: 40px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 13px; }

.newuser-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.newuser-active-ask {
  margin-top: 15px;
  margin-right: 56px; }

.newuser-active input[type="radio"] {
  display: none; }

.newuser-active label {
  width: 40px;
  height: 40px;
  color: #a9a9a9;
  border: solid 1px #a9a9a9;
  line-height: 2.5;
  text-align: center;
  cursor: pointer; }

.newuser-active input[type="radio"]:checked + label {
  color: #ff5000;
  border: solid 1px #ff5000; }

.row-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -20px;
  margin-right: -20px; }

.column-form {
  padding-left: 20px;
  padding-right: 20px; }

.newuser-check {
  width: 50%;
  margin-bottom: 15px; }

.custom-checkbox {
  display: none; }

.custom-checkbox + label {
  position: relative;
  padding-left: 25px; }

.custom-checkbox + label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 15px;
  height: 15px;
  border: solid 1px #a9a9a9;
  border-radius: 4px; }

.custom-checkbox:checked + label:before {
  text-align: center;
  line-height: 1;
  color: white;
  content: "✔";
  border: solid 1px #1f8eff;
  background-color: #1f8eff; }

.custom-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 2.4px 0;
  padding-left: 5px;
  background: no-repeat;
  background-image: url("../images/arrow-down.png");
  background-size: 5%;
  background-position: 95%;
  border: solid 1px #a9a9a9; }

/************************** Create Product Form*******************************/
/***Cool radio buttons***/
.product-type {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.sr-only input[type="radio"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  border: 0; }

.product-type input[type="radio"] {
  outline: none;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 100px; }

.product-type label {
  border-radius: 60px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-size: auto;
  background-repeat: no-repeat; }

.label-1 {
  background-image: url("../images/grapes.svg");
  background-position: 19px 20px;
  border: solid 1px #b82bb5; }
  .label-1:hover {
    background-color: #b82bb5;
    background-image: url("../images/grapes-white.svg");
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    -webkit-transition: 250ms;
    transition: 250ms; }

.input-product1[type="radio"]:checked + label {
  background-color: #b82bb5;
  background-image: url("../images/grapes-white.svg"); }

.label-2 {
  background-image: url("../images/apple.svg");
  background-position: 20px 20px;
  border: solid 1px #40ba40; }
  .label-2:hover {
    background-color: #40ba40;
    background-image: url("../images/apple-white.svg");
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    -webkit-transition: 250ms;
    transition: 250ms; }

.input-product2[type="radio"]:checked + label {
  background-color: #40ba40;
  background-image: url("../images/apple-white.svg"); }

.label-3 {
  background-image: url("../images/orange.svg");
  background-position: 18px 25px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: solid 1px #ff5000; }
  .label-3:hover {
    background-color: #ff5000;
    background-image: url("../images/orange-white.svg");
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    -webkit-transition: 250ms;
    transition: 250ms; }

.input-product3[type="radio"]:checked + label {
  background-color: #ff5000;
  background-image: url("../images/orange-white.svg"); }

.label-4 {
  background-image: url("../images/cherries.svg");
  background-position: 21px 20px;
  border: solid 1px #d60056; }
  .label-4:hover {
    background-color: #d60056;
    background-image: url("../images/cherries-white.svg");
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
    -webkit-transition: 250ms;
    transition: 250ms; }

.input-product4[type="radio"]:checked + label {
  background-color: #d60056;
  background-image: url("../images/cherries-white.svg"); }

/***Product Data***/
.createProduct-form {
  max-width: 50%;
  margin: auto;
  margin-top: 100px; }

.fieldset-product {
  border-style: none;
  margin-top: 20px;
  padding: 0; }

.product-legend {
  width: 100%;
  border-bottom: solid 1px #e4e4e4;
  color: #d60056;
  margin-bottom: 20px; }

.input-product {
  height: 2em;
  margin: 20px 0px; }

.input-price {
  margin-left: 20px;
  padding-left: 5%; }

.label {
  margin-top: 30px; }

.input-name {
  margin-right: 20px;
  padding-left: 5%; }

.p-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%; }

.p-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.product-pic {
  height: 162px;
  margin-right: 20px;
  margin-top: 30px; }

.line-orange {
  width: 100%;
  height: 2px;
  background-color: #ff5000;
  margin-left: 35px; }

.line-pink {
  width: 100%;
  height: 2px;
  background-color: #d60056;
  margin-left: 35px; }

.line-purple {
  width: 100%;
  height: 2px;
  background-color: #892d87;
  margin-left: 35px; }

/* Buttons */
button {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none; }

/* Botón Login */
.btn-login-purple {
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  background-color: white;
  font-size: 20px;
  text-align: center;
  border: solid 2px #892d87;
  color: #892d87; }

.btn-login-purple:hover {
  color: white;
  background-color: #892d87; }

.btn-productapp {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: solid 3px #d60056;
  color: #d60056; }
  .btn-productapp:hover {
    background-color: #d60056;
    color: white; }

.btn-userapp {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: solid 3px #ff5000;
  color: #ff5000; }
  .btn-userapp:hover {
    color: white;
    background-color: #ff5000; }

.btn-traductorapp {
  width: 130px;
  height: 130px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: solid 3px #892d87;
  color: #892d87; }
  .btn-traductorapp:hover {
    background-color: #892d87;
    color: white; }

/* Botones power */
.btn-off {
  width: 200px;
  height: 40px;
  font-size: 16px;
  padding: 0;
  border-width: 0;
  background-image: url(../images/power-off.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d4d4d4;
  text-align: center; }
  .btn-off:hover {
    background-color: #4d4d4f;
    background-image: url(../images/power-off-white.png); }

/* Botones Usuario */
.btn-user {
  width: 200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background-color: white;
  color: #ff5000;
  border: solid 1.5px #ff5000; }
  .btn-user:hover {
    background-color: #ffe5d9; }

/* Botones roles */
.btn-rol {
  width: 200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background-color: white;
  color: #ff5000;
  border: solid 1.5px #ff5000;
  background-size: 25px; }
  .btn-rol:hover {
    background-color: #ffe5d9; }

/* Botones nuevo producto */
.btn-product {
  width: 200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background-color: white;
  color: #d60056;
  border: solid 1.5px #d60056; }
  .btn-product:hover {
    background-color: #f9d9e6; }

/* Botones Salir */
.btn-exit {
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background-color: white;
  color: #4d4d4f;
  border: solid 1.5px #4d4d4f;
  margin-right: 57px; }
  .btn-exit:hover {
    background-color: #d4d4d4; }

/* Botones Crear */
/* Pink */
.btn-create-pink {
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background-color: white;
  color: #d60056;
  border: solid 1.5px #d60056; }
  .btn-create-pink:hover {
    background-color: #f9d9e6; }

/* orange */
.btn-create-orange {
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background-color: white;
  color: #ff5000;
  border: solid 1.5px #ff5000; }
  .btn-create-orange:hover {
    background-color: #ffe5d9; }

/* Botón Guardar Purple */
.btn-save {
  width: 150px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background-color: white;
  color: #892d87;
  border: solid 1.5px #892d87; }
  .btn-save:hover {
    background-color: #f9e9f9; }

/* Botones añadir imagen y Borrar imagen de crear Producto*/
.add-img-btn {
  width: 200px;
  height: 40px;
  background-color: white;
  font-size: 20px;
  border: solid 1.5px #d60056;
  color: #d60056;
  margin-top: 30px; }
  .add-img-btn:hover {
    background-color: #f9d9e6; }

.erase-pic-btn {
  width: 200px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  background-color: white;
  border: none;
  background-image: url(../images/circle-cancel.png);
  background-repeat: no-repeat;
  background-position: 5% 35%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px; }

/* Botones Modal */
.modal-btn-cancel-client {
  width: 162px;
  height: 40px;
  color: #4d4d4f;
  border: solid 1.5px #4d4d4f;
  font-size: 20px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .modal-btn-cancel-client:hover {
    color: #ff5000;
    border: solid 1.5px #ff5000; }

.modal-btn-accept-client {
  width: 162px;
  height: 40px;
  color: #4d4d4f;
  border: solid 1.5px #4d4d4f;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .modal-btn-accept-client:hover {
    color: #ff5000;
    border: solid 1.5px #ff5000; }

.modal-btn-cancel-product {
  width: 162px;
  height: 40px;
  color: #4d4d4f;
  border: solid 1.5px #4d4d4f;
  font-size: 20px;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .modal-btn-cancel-product:hover {
    color: #d60056;
    border: solid 1.5px #d60056; }

.modal-btn-accept-product {
  width: 162px;
  height: 40px;
  color: #4d4d4f;
  border: solid 1.5px #4d4d4f;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .modal-btn-accept-product:hover {
    color: #d60056;
    border: solid 1.5px #d60056; }

.dashboard {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  display: block; }

.listUser {
  display: block; }

.listRoles {
  display: block; }

.liste {
  width: 95%;
  margin-top: 90px;
  border-spacing: 0;
  border-collapse: collapse; }

.liste th,
td {
  padding: 10px 20px; }

.NameOption {
  border-top: solid 1px #d4d4d4;
  border-bottom: solid 1px #d4d4d4; }

.NameOption th {
  text-align: left;
  padding: 20px; }

tr:nth-last-child(2n) {
  background-color: #f2f2f2; }

.line:hover {
  background-color: #f9d9e6; }

.iconProduct {
  width: 5%; }

.data {
  width: 10%; }

.product {
  width: 80%; }

.name {
  width: 50%; }

.roles {
  width: 85%; }

.page {
  width: 80%; }

.hour {
  width: 40%; }

.box-inactive {
  width: 100px;
  height: 30px;
  padding: 3px;
  background-color: white;
  text-align: center;
  border: solid 0.5px #eb0028; }

.text-inactive {
  font-size: 18px;
  color: #eb0028; }

.box-active {
  width: 100px;
  height: 30px;
  padding: 3px;
  background-color: white;
  text-align: center;
  border: solid 0.5px #0c840c; }

.text-active {
  font-size: 18px;
  color: #0c840c; }

.edit {
  width: 6%; }

.edit img,
.trashUser img,
.trashRol img,
.trashProduct img,
.user img {
  width: 30px; }

.trashUser img,
.trashRol img,
.trashProduct img {
  cursor: pointer; }

.img-login {
  margin-bottom: 55px;
  width: 120px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.icon-apps {
  margin-bottom: 15px; }

.img-app {
  color: #ff5000; }

.logo-pink {
  width: 25px;
  fill: none;
  margin-right: 15px;
  stroke: #d60056;
  stroke-width: 2px; }

.logo-orange {
  width: 25px;
  fill: none;
  margin-right: 15px;
  stroke: #ff5000;
  stroke-width: 2px; }

.logo-purple {
  width: 25px;
  fill: none;
  margin-right: 15px;
  stroke: #892d87;
  stroke-width: 2px; }

.icon-buttons {
  width: 25px;
  fill: none;
  margin-right: 15px; }

.box-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 860px;
  height: 518px;
  max-height: 597px;
  max-width: 1277px;
  margin: 150px; }

.appContent {
  width: 100%;
  height: 100vh;
  background-color: #ffe5d9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-top: 100px; }

.btn-content {
  width: 35%;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.orange {
  color: #ff5000; }

.main {
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.name-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.login-bg {
  background-color: #ffe5d9; }

.input-login {
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
  background-color: white;
  font-size: 20px;
  padding-left: 15px;
  text-align: left;
  color: #d4d4d4;
  border: solid 1px #e4e4e4; }

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.bitmap {
  margin-top: 10px;
  margin-bottom: 17px;
  width: 26px;
  height: 26px;
  border-radius: 5%;
  background-color: white; }

.norecuerda {
  font-size: 14px;
  color: #892d87;
  margin-left: 230px; }

.recordar-datos {
  font-size: 18px;
  color: #4d4d4f;
  margin-left: 12px; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100vh; }

.down {
  position: absolute;
  bottom: 0px; }

.content {
  margin-left: 240px;
  width: 100%; }

.traslation-description {
  width: 50%; }

.select-text h4 {
  text-transform: uppercase;
  margin-left: 10px; }

.traslation-description h4 {
  text-transform: uppercase; }

.traslation-description {
  overflow-y: scroll;
  height: 809px;
  border: 2px solid #d4d4d4;
  padding: 15px; }

.select-text:nth-child(even) {
  background-color: #f2f2f2; }

.traslation-main {
  width: 94%;
  margin: 0 auto;
  margin-top: 91.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.text-traductor {
  width: 50%;
  overflow: auto;
  height: 809px;
  border: 2px solid #d4d4d4; }

/* Botones texto */
label:nth-child(odd) {
  background-color: #f2f2f2; }

.text-traductor[type="radio"] {
  display: none; }

.traduction-label {
  width: 100%;
  height: 50px;
  padding-left: 20px;
  line-height: 50px;
  font-size: 16px;
  cursor: pointer;
  color: #4d4d4f; }

.text-traductor label:hover {
  color: #892d87;
  background-color: #f9e9f9; }

.text-traductor input[type="radio"]:checked + label {
  color: #892d87;
  background-color: white;
  border-left: solid 3px #892d87; }

.spanish-text {
  background-color: #f2f2f2;
  padding: 80px 30px 37px 30px; }

.spanish-text:after {
  width: 70px;
  height: 48px;
  border-top: 24px solid #f2f2f2;
  border-right: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 24px solid transparent;
  margin-top: 0; }

.hidden {
  display: none; }

/*# sourceMappingURL=styles.css.map */